body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar{
    background-color: #5c0b22;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.navbar h3{
    color: #e8a7b4;
    padding-left: 20px;
    font-size: 25px;
}
.port-link{
    display: flex;
    gap: 20px;
    list-style: none;
}
.port-link  a{
    text-decoration: none;
    font-size: 20px;
    gap: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    color: #e8a7b4;
    padding: 20px;
}
.hero{
    background-color: #800f2f;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}
.hero h1{
    margin-left: 50px;
    font-size: 50px;
}
.hero h3{
    margin-left: 90px;
    font-size: 40px;
}
.hero p{
    font-size: 20px;
}
.about{
    background-color: #5c0b22;
}
.aboutme{
    text-align: center;
    padding: 80px 20px 40px;
}
.aboutme h1{
    font-size: 50px;
}
.bar{
    width: 75px;
    height: 4px;
    background-color:#e8a7b4;
    border-radius: 4px;
    margin: 15px auto 30px;
}
.aboutme p{
    font-size: 20px;
    color: #94a3b8;             
    line-height: 2;
    max-width: 600px;           
    margin: 0 auto;
}
.skill{
    background-color: #800f2f;
}
.skills{
   text-align: center;
    padding: 40px 20px 10px; 
}
.skills h1{
    font-size: 40px;
    color:white;
}
.skill-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    max-width: 1000px;         
    margin: 0 auto;           
    padding: 40px 20px 80px;
}
.skill-card{
    background-color:#5c0b22;
    border: 1px solid #a21e40;
    padding: 40px 30px;
    border-radius: 14px;
    text-align: center;
}
.skill-card h3{
    font-size: 26px;
    color: white;
    margin: 0 0 15px;
}
.skill-card ul{
    list-style-type: none;
    color:#e8a7b4;
    margin-right: 25px;
}
